html {
    scroll-behavior: smooth;
}



/*TYPOGRAPHY*/

h1 {
      color:darkcyan;
    font-family:sans-serif;
    font-weight: lighter;
    font-size: 30px;
}


h2 {
    
    font-family:sans-serif;
    font-weight: lighter;
    font-size: 15px;
}

p {
    
padding: 25px;
   font-family:sans-serif;
   font-weight: lighter;
   font-size: 24px;
   text-align:justify;
   
   
   
    }

h3{
    font-size: 70px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(16, 33, 56);
}

ul{
    list-style: none;
}

/*GENERAL*/



body{
    
    width:900px;
    margin: auto;
    height: auto;
    
}

section{
    padding: 15px;
}

/*HEADER*/

header{
    

text-align: left;
}

/*NAV MENU*/

.menu{
padding: 5px;

}

.menu li{
    
    display: inline  
}  
.menu li a{

    font-family: serif;
    font-weight: bold;
    font-size: 20px;
    float: right;
    padding: 10px;
    color:rgb(16, 33, 56) ;
    text-decoration: underline ;
    
    

}
.menu li a:hover {
    background-color: #25d7d7;
    margin-top: -2;
    padding-bottom: 12px;
    color: white 

    }


/*SECTION 1*/


.big title{
    
    text-align: left;
    margin-left: initial;

}

#target {
    color: darkcyan;
    box-shadow: 0 0 20px rgb(201, 201, 201);

}
.foto { 

    width:160px;
    height:160px;
    border-radius: 140px;
    border:8px solid #25d7d7;
    margin-right: 10px;
    padding: 4px;
}


/*SECTION 3*/



    .boton {
        padding-bottom: 50px;
        
    }


.btn{

position: relative;
left: 20px;
bottom: 20px;

  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  
  
  padding: 10px 30px;
  background:none ;
  color: rgb(255, 57, 22);
  box-shadow: 0 10px 20px rgba(175, 175, 175, 0.5), 0 6px 6px rgba(175, 175, 175, 0.5);
  border:5px solid;
  border-image:linear-gradient(45deg,rgb(0, 17, 255),rgb(56, 232, 238)) 10;
}
.btn:hover{
    opacity: 0.6;
    
}

/*SECTION 4*/

.story {

    padding: 50px;
    background: rgb(16, 33, 56);
    color: white;
}


/*SECTION 4*/

.skill {


}



#contact-form{
    
}


/*FOOTER*/

.foot{

font-weight: bold;
    clear: both;
    text-align: center;
    padding: 100px;
}
footer{
    
    color: grey;
}


@media (max-width: 700px) {
    body {background:grey};
}
     